pkgbase = dingtalk-bin
	pkgdesc = 钉钉
	pkgver = 8.2.8.260904001
	pkgrel = 1.1
	url = https://www.dingtalk.com/
	arch = x86_64
	arch = aarch64
	license = custom
	makedepends = patchelf
	depends = glu
	depends = gtk2
	depends = libxcrypt-compat
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = harfbuzz
	depends = mesa
	depends = libglvnd
	depends = zlib
	depends = gtk3
	depends = libsm
	depends = nss
	depends = alsa-lib
	depends = libpulse
	depends = libxkbcommon-x11
	depends = xcb-util-wm
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	optdepends = zenity: fix crashes when downloading files, not required on kde.
	optdepends = libxss: fix tray icon functionality in gnome.
	optdepends = qt5-wayland: experimental native Wayland support; must be compatible with bundled Qt
	provides = com.alibabainc.dingtalk
	provides = dingtalk
	conflicts = com.alibabainc.dingtalk
	replaces = com.alibabainc.dingtalk
	options = !strip
	source = service-terms-zh.html
	source = com.alibabainc.dingtalk.desktop
	source = dingtalk.sh
	source = com.alibabainc.dingtalk.svg
	sha512sums = 997fe19e8a056c84a65b3f4c438c0b3e97d1a6acd6f3d17c54846216afb70a757cbc81750712e8a4b8311e46c7cddfb636370355f443fdcaf4322b2dbd206215
	sha512sums = 87c539df12e76400315af7b9f94a5c259c1a61adf93b6f84442b43bb154d4da7d68cfd6c4d62fe2fe3d50d155fff39fb3989e184252b3de493d44ff28464170e
	sha512sums = 166812149f6d8c628662f507b543c6f73e20d9aa66b869213f07340229d2f8b408e07d7a127d26c9df855ea3faea0d14ce01e63f7804273dede2903c2750db2f
	sha512sums = 5f05f90704526fbd16371f6f9deaa171a3cac25a103b21daba72a3028ab7cdf9b566a3ac7842c6ce88d30cc29fe0c8b989c77aa36daab73793a827a1a0d6c775
	source_x86_64 = dingtalk_8.2.8.260904001-x86_64.deb::https://dtapp-pub.dingtalk.com/dingtalk-desktop/xc_dingtalk_update/linux_deb/Release/com.alibabainc.dingtalk_8.2.8.260904001_amd64.deb
	sha512sums_x86_64 = 5a1adf50cb7f36443f4b39c436b980fdbbfa50814367f3be8a6a54c67a07cf1dd96c0ecabd08bb60936e46e77d715073ff5f9ec0ce6dc918ba269f8bccd93a2e
	source_aarch64 = dingtalk_8.2.8.260904001-aarch64.deb::https://dtapp-pub.dingtalk.com/dingtalk-desktop/xc_dingtalk_update/linux_deb/Release/com.alibabainc.dingtalk_8.2.8.260904001_arm64.deb
	sha512sums_aarch64 = 9778633c98782939f1a7ddf8b9bf44b119ad2fc57dfa925c662977916f98f5e5eead2bf8e5e6ce3a1570a7071785659deb28b70d77b8a8223ffeee933dc6aad6

pkgname = dingtalk-bin
